* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family:  'Roboto', sans-serif;
    background-image: url('/img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    color: #222831;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, html {
    width: 100%;
    
}



.header {
    max-width: 30vw;
    min-width: 350px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 30px auto 10px;

    
}
.header p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
}

.glassEfect {
    background-color: rgba(44, 44, 44, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(44, 44, 44);

}

.labelInLine {
    display: inline-block;
}


.inputDiv {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    align-items: center;    
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 10px;
    margin: auto;
   
}

.glassLabel {
    padding: 5px;
    box-shadow: 0 0 5px 2px rgba(44, 44, 44);
    margin: 2px;
}
.cityInput {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: white;
    width: 150px;
    height: 22px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(44, 44, 44, 0.1);
    backdrop-filter: blur(10px);
    border: solid black 1px;
    
}
.submiteButton {
    
    letter-spacing: 2px;
    font-size: 1rem;
    font-family:  'Roboto', sans-serif;
    width: 110px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.submiteButton:hover {
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 3px rgba(44, 44, 44);
}
input, label {
    display: block;
    text-align: center;
}
.temperatureMeasure {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.temperatureMeasure label input {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.temperatureMeasure input {
    margin-left: 5px;
    margin-right: 10px;
}


.weatherContent {
    
    margin: 25px 50px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    gap: 3rem;


}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}



.weatherFile {
    margin: 0 auto;
    text-align: center;
    width: 250px;
    height: 330px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.Clouds {
    background-image: url("/img/clouds.jpeg");
}

.Snow {
    background-image: url("/img/snow.jpeg")
}   
.Clear {
    background-image: url("/img/clear.jpeg")
}  
.Mist {
    background-image: url("/img/mist.jpeg");
}
.Thunderstorm {
    background-image: url("/img/thunderstorm.jpeg");
}
.Drizzle {
    background-image: url("/img/drizzle.jpeg");
}
.Rain {
    background-image: url("/img/rain.jpeg");
}
.Smoke {
    background-image: url("/img/smoke.jpeg");
}
.Haze {
    background-image: url("/img/haze.jpeg");
}
.Dust {
    background-image: url("/img/dust.jpg");
}
.Fog {
    background-image: url("/img/fog.jpeg");
}
.Sand {
    background-image: url("/img/sand.jpeg");
}
.Ash {
    background-image: url("/img/ash.jpeg");
}
.Squall {
    background-image: url("/img/squall.jpeg");
}
.Tornado {
    background-image: url("/img/tornado.jpeg");
}

.weatherFileText {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 1.3rem;
    height: 100px;
    backdrop-filter: blur(5px);
    padding-top: 10px;
    padding-bottom: 10px;
    transition: height 500ms;
    width: 100%;
    margin: 0;
   
}

.weatherFileText:hover {
   height: 200px;
   width: 250px;
    
}

h2 {
    margin: 5px auto;
}


.info {
    margin: 10px auto;
}

footer {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 25px;
    width: 100%;
    margin-top: auto;
    height: 100px;
    text-align: center;
    color: white;
    background-color: rgba(44, 44, 44, 0.1);
    backdrop-filter: blur(7px);
    border-top: solid 1px black;
    box-shadow: 0 0 7px 2px black; 
    letter-spacing: 5px;

}

footer p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 0.9rem;
}
a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #5fc9f3;
}
a:hover {
    color: #2e79ba;
    font-size: 1.3rem;
    transition: font-size 200ms;
}